*{
    padding: 0; margin: 0; -moz-user-select: none;  -ms-user-select: none;  -o-user-select: none;  -webkit-user-select: none;  user-select: none;
}

html,body{
    height: 100%;
}

@font-face {
    font-family: Gerbera-Bold;
    src: url(Fonts/Gerbera-Bold.otf);
}

@font-face {
    font-family: Gerbera-Regular;
    src: url(Fonts/Gerbera-Regular.otf);
}

#wrapper{
    width: 100%;
    height: 100%;
}

/*block1*/

.block1 {
    background-image: url(img/block1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    width: 100%;
    height: 100%;
}

html, body{
    height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
    margin: 0;
    padding: 0;
}


.block1-content{
    position: absolute;
    left: 50%;
    top: 44%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 2em;
}

.block1-text{
    color: #fff;
    font-size: 65px;
    font-family: Gerbera-Regular,sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
}

.logo{
    height: 314px;
    width: 333px;
    margin: auto;
}
/*block2*/

.block2{
    max-width: 1095px;
    margin: auto;
    padding-top: 62px;
    padding-bottom: 62px;
}

.block2 p{
    text-align: center;
    margin: auto;
    font-family: Gerbera-Regular,sans-serif;
    font-size: 15px;
}

/*block3*/

.block-3{
    TEXT-ALIGN: center;
    margin: auto;
    width: -2px;
    height: 1px;
    font-size: 53px;
    position: relative;
    top: -51px;
}

.block-table{
    background-color: #703b8f;
}

.blockt-text{
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.title{
    font-size: 24px;
    padding-bottom: 20px;
}

.text-wrapper{
    font-size: 16px;
    margin: 9%;
    color: #fff;
    font-family: Gerbera-Regular,sans-serif;
}

.block-img{
    width: 50%;
    height: 100%;
    vertical-align: middle;
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: 74%; */
    background-repeat: no-repeat;
    /* background-position: center top; */
    border: 0;
    margin: 0;
    padding: 0;
    background: url(img/right-div.jpg) no-repeat right 0px #703b8f;
    background-size: 87%;
}

/*block4*/

.block3-center__bl1{
    display: none;
    position: relative;
    top: -126px;
    background: #16a086;
    opacity: 0.8;
    width: 160px;
    margin-left: 30px;
}

.block3 img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.block3-center__bl1 a{
    text-decoration: none;
    margin-left: 10px;
}

.block3-center-h{
    color: #fff;
    text-align: center;
    margin: auto;
    padding-top: 60px;
    font-size: 2em;
    padding-bottom: 15px;
}

.block3-img{
    text-align: center;
    background: #8bcb97;
}

.block3-center-p{
    text-align: center;
    margin: auto;
    color: #fff;
    padding-bottom: 55px;
}

.block4-img{
    background: url(img/1-360.jpg) no-repeat;
    width: 335px;
    height: 200px;
    background-size: cover;
}

.block4-img2{
    background: url(img/2-360.jpg) no-repeat;
    width: 335px;
    height: 200px;
    background-size: cover;
}

.block4-img3{
    background: url(img/3-360.jpg) no-repeat;
    width: 335px;
    height: 200px;
    background-size: cover;
}

.wid:first-child{
    padding-left: 45px;
}

.wid{
    padding-right: 45px;
    padding-bottom: 20px;
}

.block4-img4{
    background: url('img/04.png') no-repeat;
    width: 200px;
    height: 200px;
    background-size: contain;
}

.block4-h{
    margin: auto;
    margin-left: 2px;
    padding-top: 25px;
    font-size: 1.6em;
    color: #444444;
    font-family: Gerbera-Bold,sans-serif;
}

.block3-p{
    width: 98%;
    margin-left: 4px;
    margin-top: 15px;
    font-family: Gerbera-Regular,sans-serif;
    text-align: justify;
}

.block3-p2{
    width: 98%;
    margin-left: 4px;
    margin-top: 15px;
    font-family: Gerbera-Regular,sans-serif;
    text-align: justify;
}

.block3-p3{
    width: 98%;
    margin-left: 4px;
    margin-top: 15px;
    font-family: Gerbera-Regular,sans-serif;
    text-align: justify;
}

.bl{
    margin: -4px!important;
}

.block3-p4{
    width: 80%;
    margin-left: 20px;
    margin-top: 15px;
    font-family: Gerbera-Regular,sans-serif;
}

.block3-center-bl1-white{
    background: #fff;
    width: 335px;
    height: 228px;
}

.block4-btn{
    border: 1px solid #222222;
    width: 138px;
    height: 40px;
    border-radius: 3px;
    margin-top: 25px;
    text-align: center;
}

.block4-btn a{
    position: relative;
    top: 9px;
    font-family: Gerbera-Bold,sans-serif;
    color: #444444;
}


.block4-btn a:hover{
    color: #794c9c;
    text-decoration: none;
}

.main{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: auto;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 70px;
    padding-bottom: 60px;
}

.bl{
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}


h3{
    color: #406cd0;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}

.image{
    margin: 10px;
    -webkit-flex: 1 1 200px;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
}

.text{
    margin: 10px;
    -webkit-flex: 1 1 150px;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
}

.image img{
    width: 100%;
    height: auto;
}

/*block5*/

.block5{
    background: #794c9c;
    margin-top: 40px;
}

.block5-content{
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 760px;
    margin: auto;
    font-size: 20px;
    line-height: 1.55;
    color: #fff;
    font-family: Gerbera-Regular,sans-serif;
}

.block5-left{
    width: 140px;
    height: 280px;
}

.block5-img{
    background: url("img/01.png");
    width: 160px;
    height: 160px;
    background-size: contain;
}

.row{
    max-width: 896px;
    margin: auto;
    padding-top: 43px;
    padding-bottom: 20px;
}

.col-md-7{
    font-size: 16px;
    line-height: 1.55;
    font-family: Gerbera-Regular,sans-serif;
    color: #fff;
    text-align: justify;
}

.col-md-3{
    margin-top: 32px;
}

.col-md-3 img {
    width: 150px;
}

.col-md-3 h2{
    color: #fff;
    font-size: 17px;
    font-family: Gerbera-Regular,sans-serif;
    line-height: 18px;
}

.col-md-3 p{
    font-size: 13px;
    color: #ffffff;
    font-family: Gerbera-Regular,sans-serif;
}

.block5-btn{
    margin: auto;
    text-align: center;
    line-height: 50px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: 700;
    background: none;
    cursor: pointer;
    box-sizing: content-box;
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: #794c9c;
    width: 160px;
    border-radius: 3px;
    font-family: Gerbera-Regular,sans-serif;
}

.col-md-7{
    padding-bottom: 15px;
}

.pad-bottom{
    padding-bottom: 70px;
}

.block5-btn a{
    color: #fff;
    list-style-type: none;
}

.block5-btn a:hover{
    color: #17e17b;
    text-decoration: none;
}

/*block6*/

.block6-main{
    max-width: 1440px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 20px auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.b{
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    -webkit-flex: 0 1 380px;
    -ms-flex: 0 1 380px;
    flex: 0 1 380px;
}

h3{
    color: #406cd0;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}

.image{
    margin: 10px;
    -webkit-flex: 1 1 280px!important;
    -ms-flex: 1 1 280px!important;
    flex: 1 1 280px!important;
}

.text{
    margin: 10px;
    -webkit-flex: 1 1 150px;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
}

.text h3{
    margin-top: 20px;
}

.image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.block6-main .block2{
    font-family: Gerbera-Regular,sans-serif;
}

.block2 .text h4{
    font-size: 13px;
    color: #888888;
    padding-bottom: 10px;
}

.block2 .text h4 a{
    color: #17e17b;
}

/*block6-about*/

.block6-about{
    background: url(img/aboutus.jpg) 0px -7px;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: Gerbera-Regular,sans-serif;
    overflow: hidden;
}

.block6-left{
    width: 30%;
    height: 100%;
    float: left;
}

.slider2{
    text-align: center;
    color: #fff;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-86%) translateY(-50%);
    -ms-transform: translateX(-86%) translateY(-50%);
    transform: translateX(-55%) translateY(3%);
    margin: auto;
    margin-top: 105px;
    padding-bottom: 80px;
}

.block6-about h3{
    color: #17e17b;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    top: 190px;
}

.block6-center a{
    color: #17e17b;
}

.block6-center a:hover{
    color: #17e17b;
}

.block6-right{
    width: 30%;
    height: 100%;
    float: right;
    margin: -719px auto;
}

.block6-first{
    font-size: 22px;
    line-height: 1.55;
    padding-bottom: 25px;
}

.block6-first a:focus, a:hover{
    color: #17e17b;
}

.block6-center img{
    width: 120px;
    padding-bottom: 10px;
}

.block6-center{
    width: 310px;
    margin: auto;
    text-align: center;
    text-align: center;
    color: #fff;
    width: 58%;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-76%) translateY(-27%);
    -ms-transform: translateX(-76%) translateY(-27%);
    transform: translateX(-76%) translateY(27%);
    margin: auto;
}

.center{
    text-align: center!important;
}

.block6-about__left{
    float: left;
    height: 100vh;
    overflow: hidden;
    margin-top: -601px;
    background: url("img/ic_keyboard_arrow_left_white_24dp_2x.png") no-repeat 142px;
    opacity: 0.6;
}

.block6-about__right{
    float: right;
    height: 100vh;
    overflow: hidden;
    margin-top: -601px;
    background: url("img/ic_keyboard_arrow_right_white_24dp_2x.png") no-repeat -17px;
    opacity: 0.6;
}

.qw img {
    margin-left: -25px;
}

.block6-center p:last-child{
    margin-left: -25px;
}

/*block7*/

.block7{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ededed;
    font-family: Gerbera-Regular,sans-serif;
}

.block7-center{
    max-width: 1215px;
    margin: auto;
}

.block7-content{
    margin: auto;
    text-align: center;
}

.block7-content h3{
    font-size: 24px;
    color: #000;
    padding-bottom: 15px;
    padding-top: 15px;
}

.block7-content p{
    width: 50%;
    margin: auto;
    font-size: 15px;
    padding-bottom: 15px;
}


.buttonLeft{
    width: 46px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    float: left;
    top: 93px;
    margin: -46px auto;
}

.itemLogo:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

svg{
    fill: #757567;
}

.buttonRight{
    width: 31px;
    height: 48px;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 1000;
    margin: -100px auto;
    margin-right: 18px;
}

.slider{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 145px;
    overflow: hidden;
}

.screenItem{
    width: 140px!important;
    height: 140px!important;
    display: inline-block;
}

.itemLogo{
    display: block;
    margin: auto;
    width: 85%;
    height: 100%;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-y: center!important;
    background-position-x: center!important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*footer*/

footer{
    background: url(img/contacts.jpg) no-repeat 0 175px #340d4c;
    background-position: center 295px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #340d4c;
    width: 100%;
}

.footer-main{
    max-width: 1440px;
    padding: 20px;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: -40px auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-b{
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    -webkit-flex: 0 1 380px;
    -ms-flex: 0 1 380px;
    flex: 0 1 380px;
}

.contact-info .footer-b h3{
    color: #fff;
    font-size: 20px;
}

.contact-info .footer-b p{
    font-size: 16px;
}

.contact-info .footer-b a{
    color: #17e17b;
    font-size: 16px;
}

.contact-info{
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

.contact-info h3{
    font-family: Gerbera-Regular,sans-serif;
    color: #17e17b;
    font-size: 56px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.contact-info p {
    color: #fff;
    margin: 0px;
    font-family: Gerbera-Regular,sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
}

.nav{
    width: 250px;
    margin: 20px auto;
    padding-bottom: 70px;
}

.cont-text{
    color: #17e17b!important;
    font-family: Gerbera-Regular,sans-serif!important;
    font-size: 15px!important;
}

.cont-text a{
    color: #17e17b;
}

.cont-text a:hover{
    color: #17e17b;
}

.nav li{
    float: left;
    margin-left: 32px;
    list-style-type: none;
}

.block6-first a{
    font-size: 18px;
}

.block6-first a:hover{
    text-decoration: none;
}


.block6-first a:focus{
    text-decoration: none;
}

.dev-img{
    width: 35px!important;
    margin-left: 5px;
    margin-right: 10px;;
}

.block3 .text{
    margin-top: 3px;
}

.block4-2 .text{
    margin-top: -53px;
}

@media only screen and (max-width: 1200px) {
    .block4-img {
        width: 300px;
    }
    .block4-img2{
        width: 300px;
    }
    .block4-img3{
        width: 300px;
    }
    .last{
        padding-top: 255px;
    }
}


@media only screen and (max-width: 1255px) {
    .block6-about-position {
        margin-top: -570px;
    }
}

@media only screen and (max-width: 1013px) {
    .block6-about-position {
        margin-top: -604px;
    }
}

@media only screen and (max-width: 938px) {
    .block6-about-position {
        margin-top: -638px;
    }
}

@media only screen and (max-width: 813px) {
    .block6-about-position {
        margin-top: -672px;
    }
}

@media only screen and (max-width: 785px) {
    .block6-about-position {
        margin-top: -548px;
    }
}

@media only screen and (max-width: 728px) {
    .block6-about-position {
        margin-top: -574px;
    }
}

@media only screen and (max-width: 632px) {
    .block6-about-position {
        margin-top: -600px;
    }
}

@media only screen and (max-width: 559px) {
    .block6-about-position {
        margin-top: -626px;
    }
}

@media only screen and (max-width: 508px) {
    .block6-about-position {
        margin-top: -652px;
    }
}

@media only screen and (max-width: 1185px) {
    .block2 {
        max-width: 700px;
    }
}

@media only screen and (max-width: 1039px) {
    .wid:nth-child(4) {
        padding-left: 45px;
    }
}

@media only screen and (max-width: 1034px) {
    .bl{
        -webkit-flex: 0 1 479px!important;
        -ms-flex: 0 1 479px!important;
        flex: 0 1 479px!important;
    }
}

@media only screen and (max-width: 1435px) {
    .block6-center {
        -webkit-transform: translateX(-76%) translateY(-15%);
        -ms-transform: translateX(-76%) translateY(-15%);
        transform: translateX(-76%) translateY(15%);
    }
    .block6-center img {
        width: 120px;
    }
    .block6-about-position {
        margin-top: -547px;
    }
    .block6-first {
        font-size: 18px;
    }
    .block6-about h3{
        top: 154px;
    }
}

@media only screen and (max-width: 1333px) {
    .block6-about-position {
        margin-top: -539px;
    }
}

@media only screen and (max-width: 1261px) {
    .block6-about-position {
        margin-top: -535px;
    }
    .block6-first {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1193px) {
    .block6-about-position {
        margin-top: -527px;
    }
    .block6-first {
        font-size: 14px;
    }
    .block6-first a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1122px) {
    .block6-about-position {
        margin-top: -551px;
    }
}

@media only screen and (max-width: 918px) {
    .block6-about-position {
        margin-top: -526px;
    }
    .block6-center img {
        width: 100px;
    }
    .block6-first{
        font-size: 15px;
    }
    .block6-center {
        -webkit-transform: translateX(-76%) translateY(-2%);
        -ms-transform: translateX(-76%) translateY(-2%);
        transform: translateX(-76%) translateY(-2%);
    }
    .block6-about h3{
        top: 100px;
    }
}

@media only screen and (max-width: 860px) {
    .block6-about-position {
        margin-top: -549px;
    }
}

@media only screen and (max-width: 785px) {
    .block6-center {
        -webkit-transform: translateX(-76%) translateY(-2%);
        -ms-transform: translateX(-76%) translateY(-2%);
        transform: translateX(-76%) translateY(-2%);
    }
    .block6-about-position {
        margin-top: -534px;
    }
    .block6-first {
        font-size: 14px;
    }
    .block6-center img {
        width: 80px;
    }
    .unslider-nav {
        margin-top: -25px;
    }
    .slider2{
        -webkit-transform: translateX(-86%) translateY(-6%);
        -ms-transform: translateX(-86%) translateY(-6%);
        transform: translateX(-55%) translateY(-6%);
    }
    .block6-center h3{
        padding-bottom: 10px;
    }
    .block6-first{
        padding-bottom: 15px;
    }
    .block6-about h3{
        top: 70px;
    }
}

@media only screen and (max-width: 695px) {
    .block6-about-position {
        margin-top: -486px;
    }
    .block6-first {
        font-size: 13px;
        margin-left: -11px;
    }
    .unslider-nav {
        margin-top: -45px!important;
    }
    .block6-center img {
        width: 70px;
    }
}



@media screen and (max-width: 980px){
    .block3-mobile {
        display: block!important;
        text-align: center;
        width: 100%;
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 819px) {
    .block4-img{
        width: 20px;
    }
}


@media only screen and (max-width: 794px) {
    .wid:nth-child(3) {
        padding-right: 0;
        padding-left: 45px;
    }
}


@media only screen and (max-width: 755px) {
    .block1-text {
        font-size: 37px;
    }
}

@media only screen and (max-width: 469px) {
    .block6-about-position {
        margin-top: -526px;
    }
}

@media only screen and (max-width: 549px) {
    .wid:nth-child(2) {
        padding-left: 45px;
    }
    .wid:nth-child(3) {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 495px) {
    .wid {
        padding-right: 0px;
    }
    .wid:first-child{
        padding-left: 0px;
    }
    .block4-img{
        width: 150px;
        height: 150px;
    }.block4-img2{
         width: 150px;
         height: 150px;
     }.block4-img3{
          width: 150px;
          height: 150px;
      }.block4-img4{
           width: 150px;
           height: 150px;
       }
    .block3-center-bl1-white{
        width: 150px;
    }
    .block4-h{
        font-size: 1.1em;
    }
    .block3-p{
        font-size: 0.8em;
    }
    .block3-p2{
        font-size: 0.8em;
    }
    .block3-p3{
        font-size: 0.8em;
    }
    .block3-p4{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 785px){
    .screenItem {
        width: 118px!important;
        height: 90px!important;
        margin: 30px auto;
    }
    .active{
        width: 135px!important;
        margin-top: -5px;
    }
    .block7-center{
        max-width: 540px;
    }
}


@media screen and (max-width: 595px){
    .screenItem {
        width: 90px!important;
        height: 90px!important;
        margin: 30px auto;
    }
    .active{
        width: 90px!important;
    }
    .block7-center {
        max-width: 370px;
    }
}

@media screen and (max-width: 450px){
    .screenItem {
        width: 130px!important;
        height: 90px!important;
        margin: 30px auto;
    }
    .active{
        width: 90px!important;
        margin-right: 45px!important;
    }
    .block7-center {
        max-width: 265px;
    }
    .footer-main{
        margin: -18px auto;
    }
}

@media only screen and (max-width: 785px) {
    .block6-left{
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .block6-about h3{
        top: 130px;
    }
}


@media only screen and (max-width: 767px) {
    .block1 {
        background-image: url(img/kids-30.png);
        background-attachment: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .block3{
        background-position: left;
    }
}

@media only screen and (max-width: 767px) {
    .block6-about{
        background-image: url(img/about-30.jpg);
        background-attachment: inherit;
        background-position: center center;
    }
}

@media only screen and (max-width: 767px) {
    footer {
        background-image: url(img/filter-kids30.png);
        background-attachment: inherit;
        padding: 0px;
        margin: 0px auto;
    }
    .contact-info h3{
        padding-bottom: 5px;
    }
    .contact-info p{
        padding-bottom: 20px;
    }
    .footer-b{
        margin: -10px;
    }
}

@media only screen and (max-width: 720px){
    .block2 {
        max-width: 535px;
    }
}


@media only screen and (max-width: 980px) {
    .block-img{
        display: none;
    }
}

@media only screen and (max-width: 682px) {
    .logo{
        background: url(img/logo-small.png) no-repeat center;
    }
    .logo img{
        display: none;
    }
    .block1-text {
        margin-top: -60px;
    }
}

@media only screen and (max-width: 420px) {
    .slider2 {
        width: 85%;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-70%) translateY(-50%);
        -ms-transform: translateX(-70%) translateY(-50%);
        transform: translateX(-70%) translateY(-50%);
    }
}

@media only screen and (max-width: 760px) {
    .block2 {
        max-width: 535px;
    }
}

@media only screen and (max-width: 570px){
    .block2 {
        max-width: 430px;
    }
    .bll{
        max-width: 498px!important;
    }
}

@media only screen and (max-width: 470px){
    .block2 {
        max-width: 301px;
    }
}

@media only screen and (max-width: 775px) {
    .block6-about__right {
        background: url(img/ic_keyboard_arrow_right_white_24dp_2x.png) no-repeat 85px;
    }
    .block6-about__left {
        background: url(img/ic_keyboard_arrow_left_white_24dp_2x.png) no-repeat 10px;
    }
}

@media only screen and (max-width: 650px) {
    .block3{
        background: url(img/z_baraholka_fb_6-01.jpg) no-repeat;
        width: 100%;
        background-position: center;
        height: 87%;
        background-size: cover;
    }
    .block3-img img{
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .block3{
        height: 78%;
    }
}

@media only screen and (max-width: 495px) {
    .block3{
        height: 70%;
    }
}

@media only screen and (max-width: 460px) {
    .block3{
        height: 65%;
    }
}

@media only screen and (max-width: 430px) {
    .block3{
        height: 60%;
    }
}

@media only screen and (max-width: 400px) {
    .block3{
        height: 57%;
    }
}

@media only screen and (max-width: 380px) {
    .block3{
        height: 53%;
    }
}



@media only screen and (max-width: 419px) {
    .block6-about__right {
        background: url(img/ic_keyboard_arrow_right_white_24dp_2x.png) no-repeat 66px;
    }
    .block6-about__left {
        background: url(img/ic_keyboard_arrow_left_white_24dp_2x.png) no-repeat -10px;
    }
}

@media only screen and (max-width: 705px) {
    .block7-content p {
        width: 65%;
        padding-bottom: 15px;
    }
}

#main{
    max-width: 1181px;
    /* border: 1px solid #ccc; */
    padding: 0px;
    background: #fff;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0px auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
}

.bl{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    background: #fff;
}

h3{
    color: #406cd0;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}

.image{
    margin: 10px;
    -webkit-flex: 1 1 200px;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
}

.text{
    margin: 10px;
    -webkit-flex: 1 1 150px;
    -ms-flex: 1 1 150px;
    flex: 1 1 150px;
}

.develops{
    font-size: 12px!important;
    margin-left: -15px!important;

}

a.button{
    color: #222222;
    font-family: Gerbera-Regular,sans-serif;
}

a.button:hover{
    text-decoration: none;
    color: #794c9c;
}

.bl .image img{
    width: 100%;
    height: auto;
    border-radius: inherit;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.text h3{
    text-align: left;
}

.text p{
    font-family: Gerbera-Regular,sans-serif;
    font-size: 15px;
    text-align: justify;
}

@media only screen and (max-width: 420px) {
    .block6-about-position {
        margin-top: -565px;
        position: relative;
        top: -17px;
    }
    .block6-first a {
        font-size: 13px;
    }
    .unslider-arrow.next{
        width: 105px!important;
    }
    .unslider-arrow.prev{
        width: 105px!important;
    }
    .block6-center {
        transform: translateX(-58%) translateY(33%);
        width: 70%;
        margin-top: 90px;
    }
    .block7-content p{
        width: 82%;
    }
    .slider2{
        transform: translateX(-58%) translateY(-25%);
        width: 113%;
    }
    .unslider-nav {
        margin-top: -70px!important;
    }
    .bl2{
        margin-top: 27px;
    }
    .bl3{
        margin-top: 90px;
    }
    .bl4{
        margin-top: 60px;
    }
    .bl5{
        margin-top: 35px;
    }
    .bl6{
        margin-top: 68px;
    }
    .bl7{
        position: relative;
        top: -20px;
    }
}

@media only screen and (min-width: 1191px){
    #main{
        max-width: 1168px!important;
    }
}

@media only screen and (max-width: 1190px){
   .bl{
       flex: 0 1 426px;
   }
    .block4-2 .text {
        margin-top: -45px;
    }
}


@media only screen and (max-width: 956px){
    .block4-2 .text{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 495px){
    #main{
        padding: 10px;
    }
}